html
  head
    style
    script window.onload=function (){
      var oBtn=document.getElementById('div1');// 错误的写法
      };
  body
    a(href="http://www.zhinengshe.com/") 标签包含的内容的写法
    a(href="http://www.baidu.com/") 百度
